// Set navbar-height in _variables. Change px value here to add more space below navbar.
body {
  padding-top: ($navbar-height + 10px);
}

.navbarIcon {
  padding: (($navbar-height - 50px)/2);
}

.navbar-brand {
  font-size: $font-size-h3
  }